.navbar { background-color: #f8f9fad0; }
.navbar-brand .banner { position: absolute; }
.navbar-brand .logo {
  z-index: 3;
  height: 3rem;
}

@import url('https://fonts.googleapis.com/css?family=Lily+Script+One|Titan+One');

.navbar-brand .feedme {
  font-variant: small-caps;
  font-family: 'Titan One', cursive;
  font-size: 2rem;
  line-height: 2rem;
  margin-left: -.5rem;
  color: #550044ff;
  z-index: 1;
}

.navbar-brand .jefferson {
  font-family: 'Lily Script One', cursive;
  font-size: 1rem;
  line-height: 1rem;
  color: #55d400ff;
  margin-left: 3rem;
  margin-top: 1.5rem;
  z-index: 2;
}
