<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top">
    <a class="navbar-brand py-0" routerLink="">
      <img class="logo" src="assets/chefjefferson.svg" alt="chef hat" />
      <span class="banner feedme">FeedMe</span>
      <span class="banner jefferson">Jefferson</span>
    </a>
    <button class="navbar-toggler" type="button" [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ml-auto">
        <li *ngFor="let link of links" class="nav-item ml-auto" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
          <a class="nav-link" routerLink="{{link.path}}">{{link.display}}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
