<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="food-canvas">
      <a *ngFor="let food of choice;let i=index" [routerLink]="food.choiceUrl$ | async" (click)="choose(food.id, i)">
        <app-image [image]="food.id"></app-image>
      </a>
    </div>
</main>

<footer>
  <div class="attribution">
    <p><strong>Licenses and Attributions:</strong></p>
    <p *ngFor="let food of choice">
      <app-attribution *ngIf="food.photo$ | async as photo" [photo]="photo"></app-attribution>
    </p>
  </div>
</footer>
