<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Help us improve the site!</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Please help make FeedMeJefferson better by allowing us to collect your <strong>anonymous</strong> 
  food selections! You can change this setting, or find out more about it, in the 
  <a routerLink="/about" fragment="data-collection" target="_blank">data collection section of our about page</a>.
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="modal.close('yes')">Sure, collect away!</button>
  <button type="button" class="btn btn-secondary" (click)="modal.close('no')">No thanks</button>
  <button type="button" class="btn btn-secondary" (click)="modal.close('later')">Ask me later</button>
</div>
