.food-canvas {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.food-canvas a { 
  width: calc(50vmax - 4rem);
  height: calc(50vmax - 4rem);
}

.food-canvas img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: middle;
  padding: 2%;
} 
.attribution {
  font-size: 80%;
  background-color: #f8f9fad0; 
  padding: 10px;
}
.attribution p {
  margin-bottom:0;
}
