<main role="main" class="flex-shrink-0">
    <div class="container" *ngIf="photo$ | async as photo">
        <app-image [image]="photo.id"></app-image>
        <form>
            <div class="form-group">
                <button (click)="updatePhoto(photo)" type="submit" class="btn btn-success">Submit</button>

              <label for="title">Title:</label>
              <input type="text" class="form-control" id="title" [(ngModel)]="photo.title" name="title" />
           
              <label for="description">Description:</label>
              <input type="text" class="form-control" id="description" [(ngModel)]="photo.description" name="description" />

 
                <label>Main Food Tags:</label>
                <tag-input [(ngModel)]="photo.isTags" name="isTags" modelAsStrings="true" [separatorKeys]="[',']" dragZone="a"></tag-input>

                <label>Contains Food Tags:</label>
                <tag-input [(ngModel)]="photo.containsTags" name="containsTags" modelAsStrings="true" [separatorKeys]="[',']" dragZone="a"></tag-input>

                <label>Additional Descriptive Tags:</label>
                <tag-input [(ngModel)]="photo.descriptiveTags" name="descriptiveTags" modelAsStrings="true" [separatorKeys]="[',']" dragZone="a"></tag-input>
    
                <label for="author">Author:</label>
                <input [disabled]="true" type="text" class="form-control" id="author" [(ngModel)]="photo.author" name="author" />

                <label for="authorProfileUrl">Author Profile Page:</label>
                <input [disabled]="true" type="text" class="form-control" id="authorProfileUrl" [(ngModel)]="photo.authorProfileUrl" name="authorProfileUrl" />

                <label for="originTitle">Originating Source Title:</label>
                <input [disabled]="true" type="text" class="form-control" id="originTitle" [(ngModel)]="photo.originTitle" name="originTitle" />

                <label for="originUrl">Originating Source Page:</label>
                <input [disabled]="true" type="text" class="form-control" id="originUrl" [(ngModel)]="photo.originUrl" name="originUrl" />

                <label for="license">License:</label>
                <input [disabled]="true" type="text" class="form-control" id="license" [(ngModel)]="photo.license" name="license" />

                <label for="licenseUrl">License Url:</label>
                <input [disabled]="true" type="text" class="form-control" id="licenseUrl" [(ngModel)]="photo.licenseUrl" name="licenseUrl" />
            </div>      
         
           
          </form>
          </div>
  </main> 